@media screen and (max-width: 1060px) {
    /* Nav, user logged out */
    #logo h2 {
        font-size: 1.2em;
    }
    #heading h3 {
        font-size: 1em;
        letter-spacing: 0px;
    }
    #logIn h3 {
        font-size: 1em;
    }
}

@media screen and (max-width: 802px) {
    /* Nav, user logged out */
    .toggleNav {
        display: flex;
    }
    #logIn h3 {
        display: none;
    }
    #heading {
        margin-left: 2em;
        width: 50%;
    }
}